In [89]:
# Imports
import pandas as pd
import numpy as np

In [114]:
mvps = pd.read_csv('mvp.csv')
players = pd.read_csv('players.csv')

In [116]:
# Select columns not present in players.csv
mvps = mvps[["Player","Year", "Pts Won", "Pts Max", "Share"]]

In [109]:
players.drop(columns=['Rk'], inplace=True)

In [118]:
# Cleaning names
players["Player"] = players["Player"].str.replace("*", "", regex=False)

In [124]:
# Function to group players into same row
def single_team(df):
    if df.shape[0]==1:
        return df
    else:
        row = df[df["Team"].str.endswith("TM")]
        row["Team"] = df.iloc[-1,:]["Team"]
        return row

players = players.groupby(["Player", "Year"]).apply(single_team)

In [126]:
players.index = players.index.droplevel()

In [127]:
players.index = players.index.droplevel()

In [129]:
complete = players.merge(mvps, on=["Player", "Year"], how="outer")

In [130]:
complete.head()

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
0,155,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,...,0.7,0.3,1.2,1.4,9.1,NaN,1991,NaN,NaN,NaN
1,94,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,...,1.1,0.4,1.4,1.7,13.6,NaN,1992,NaN,NaN,NaN
2,104,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,...,1.1,0.5,1.4,1.8,12.8,NaN,1993,NaN,NaN,NaN
3,66,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,...,0.9,0.5,1.2,1.7,14.7,NaN,1994,NaN,NaN,NaN
4,117,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,...,0.7,0.4,1.4,1.8,11.2,NaN,1995,NaN,NaN,NaN

In [138]:
complete.drop(columns=['Rk'], inplace=True)

In [139]:
# Fill NaN values with 0
complete[["Pts Won", "Pts Max", "Share"]] = complete[["Pts Won", "Pts Max", "Share"]].fillna(0)

In [146]:
complete = complete[~complete["Player"].str.contains("League Average")]

In [140]:
complete.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,NaN,1991,0.0,0.0,0.0
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,NaN,1992,0.0,0.0,0.0
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,NaN,1993,0.0,0.0,0.0
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,NaN,1994,0.0,0.0,0.0
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,0.7,0.4,1.4,1.8,11.2,NaN,1995,0.0,0.0,0.0

In [141]:
teams = pd.read_csv('teams.csv')

In [142]:
teams["Name"] = teams["Name"].str.replace("*", "", regex=False)

In [143]:
# Clean Division rows
teams = teams[~teams["Name"].str.contains("Division")]

In [148]:
teams["Team"] = teams["Name"]

In [149]:
teams.drop(columns=["Name"], inplace=True)
teams.head()

    W   L  W/L%    GB   PS/G   PA/G    SRS  Year                Team
0  56  26  .683     —  111.5  105.7   5.22  1991      Boston Celtics
1  44  38  .537  12.0  105.4  105.6  -0.39  1991  Philadelphia 76ers
2  39  43  .476  17.0  103.1  103.3  -0.43  1991     New York Knicks
3  30  52  .366  26.0  101.4  106.4  -4.84  1991  Washington Bullets
4  26  56  .317  30.0  102.9  107.5  -4.53  1991     New Jersey Nets

In [150]:
complete[complete["Player"] == "Nikola Jokić"]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
11505,Nikola Jokić,20,DEN,C,80,55,21.7,3.8,7.5,.512,...,1.0,0.6,1.3,2.6,10.0,ROY-3,2016,0.0,0.0,0.0
11506,Nikola Jokić,21,DEN,C,73,59,27.9,6.8,11.7,.578,...,0.8,0.8,2.3,2.9,16.7,NaN,2017,0.0,0.0,0.0
11507,Nikola Jokić,22,DEN,C,75,73,32.6,6.7,13.5,.499,...,1.2,0.8,2.8,2.8,18.5,NaN,2018,0.0,0.0,0.0
11508,Nikola Jokić,23,DEN,C,80,80,31.3,7.7,15.1,.511,...,1.4,0.7,3.1,2.9,20.1,"MVP-4,AS,NBA1",2019,0.0,0.0,0.0
11509,Nikola Jokić,24,DEN,C,73,73,32.0,7.7,14.7,.528,...,1.2,0.6,3.1,3.0,19.9,"MVP-9,AS,NBA2",2020,0.0,0.0,0.0
11510,Nikola Jokić,25,DEN,C,72,72,34.6,10.2,18.0,.566,...,1.3,0.7,3.1,2.7,26.4,"MVP-1,AS,NBA1",2021,0.0,0.0,0.0
11511,Nikola Jokić,26,DEN,C,74,74,33.5,10.3,17.7,.583,...,1.5,0.9,3.8,2.6,27.1,"MVP-1,AS,NBA1",2022,0.0,0.0,0.0
11512,Nikola Jokić,27,DEN,C,69,69,33.7,9.4,14.8,.632,...,1.3,0.7,3.6,2.5,24.5,"MVP-2,CPOY-13,AS,NBA2",2023,0.0,0.0,0.0
11513,Nikola Jokić,28,DEN,C,79,79,34.6,10.4,17.9,.583,...,1.4,0.9,3.0,2.5,26.4,"MVP-1,CPOY-4,AS,NBA1",2024,0.0,0.0,0.0

In [151]:
abb = {}

with open("abbreviations.csv") as file:
    lines = file.readlines()

    for line in lines[1:]:
        line = line.strip().replace("\n", "").split(",")
        abb[line[0]] = line[1]

In [152]:
complete["Team"] = complete["Team"].map(abb)
complete.head()

C:\Users\Eshan\AppData\Local\Temp\ipykernel_24876\921339768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complete["Team"] = complete["Team"].map(abb)

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
0,A.C. Green,27,Los Angeles Lakers,PF,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,NaN,1991,0.0,0.0,0.0
1,A.C. Green,28,Los Angeles Lakers,PF,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,NaN,1992,0.0,0.0,0.0
2,A.C. Green,29,Los Angeles Lakers,PF,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,NaN,1993,0.0,0.0,0.0
3,A.C. Green,30,Phoenix Suns,PF,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,NaN,1994,0.0,0.0,0.0
4,A.C. Green,31,Phoenix Suns,SF,82,52,32.8,3.8,7.5,.504,...,0.7,0.4,1.4,1.8,11.2,NaN,1995,0.0,0.0,0.0

In [155]:
stats = complete.merge(teams, how="outer", on=["Team", "Year"])
stats.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Won,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,27,Los Angeles Lakers,PF,82,21,26.4,3.1,6.6,.476,...,0.0,0.0,0.0,58,24,.707,5.0,106.3,99.6,6.73
1,Byron Scott,29,Los Angeles Lakers,SG,82,82,32.1,6.1,12.8,.477,...,0.0,0.0,0.0,58,24,.707,5.0,106.3,99.6,6.73
2,Elden Campbell,22,Los Angeles Lakers,PF,52,0,7.3,1.1,2.4,.455,...,0.0,0.0,0.0,58,24,.707,5.0,106.3,99.6,6.73
3,Irving Thomas,25,Los Angeles Lakers,PF,26,0,4.2,0.7,1.9,.340,...,0.0,0.0,0.0,58,24,.707,5.0,106.3,99.6,6.73
4,James Worthy,29,Los Angeles Lakers,SF,78,74,38.6,9.2,18.7,.492,...,0.0,0.0,0.0,58,24,.707,5.0,106.3,99.6,6.73

In [157]:
stats = stats.apply(pd.to_numeric, errors='ignore')

In [159]:
stats['GB'] = stats['GB'].fillna(0)
stats['GB'] = stats['GB'].str.replace('—', '0.0')
stats['GB'].unique()

array(['5.0', '14.0', '23.0', '7.0', '0.0', '40.0', '42.0', '18.0', '6.0',
       '24.0', '26.0', '37.0', '29.0', '21.0', '28.0', '13.0', '25.0',
       '8.0', '19.0', '3.0', '11.0', '1.0', '17.0', '15.0', '9.0', '2.0',
       '35.0', '20.0', '16.0', '41.0', '12.0', '50.0', '10.0', '30.0',
       '34.0', '4.0', '1.5', '22.0', '51.0', '36.0', '43.0', '39.0',
       '18.5', '31.0', '48.0', '46.0', '10.5', '32.0', '38.0', '27.0',
       '33.0', '21.5', '45.0', '22.5', '25.5', '3.5', '20.5', '11.5',
       '44.0', '52.0', '56.0', '2.5', '12.5', '47.0', '32.5', '4.5', nan],
      dtype=object)

In [161]:
stats['GB'] = pd.to_numeric(stats['GB'])
stats['GB'].dtype

dtype('float64')

Find a way to join Nikola JokiÄ and Nikola Jokić for proper MVP counting (same with other names with accents)

In [164]:
stats[stats["Player"] == "Nikola JokiÄ"]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Won,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS
15814,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,212.0,1010.0,0.210,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15816,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,1010.0,0.018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15817,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,971.0,1010.0,0.961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15819,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,875.0,1000.0,0.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15821,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,674.0,1000.0,0.674,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15823,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,926.0,990.0,0.935,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
stats[stats["Player"] == "Nikola Jokić"]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Won,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS
754,Nikola Jokić,25.0,Denver Nuggets,C,72.0,72.0,34.6,10.2,18.0,0.566,...,0.0,0.0,0.0,47.0,25.0,0.653,5.0,115.1,110.1,4.82
776,Nikola Jokić,26.0,Denver Nuggets,C,74.0,74.0,33.5,10.3,17.7,0.583,...,0.0,0.0,0.0,48.0,34.0,0.585,1.0,112.7,110.4,2.16
792,Nikola Jokić,27.0,Denver Nuggets,C,69.0,69.0,33.7,9.4,14.8,0.632,...,0.0,0.0,0.0,53.0,29.0,0.646,0.0,115.8,112.5,3.04
811,Nikola Jokić,28.0,Denver Nuggets,C,79.0,79.0,34.6,10.4,17.9,0.583,...,0.0,0.0,0.0,57.0,25.0,0.695,0.0,114.9,109.6,5.23
5337,Nikola Jokić,21.0,Denver Nuggets,C,73.0,59.0,27.9,6.8,11.7,0.578,...,0.0,0.0,0.0,40.0,42.0,0.488,11.0,111.7,111.2,0.70
11108,Nikola Jokić,20.0,Denver Nuggets,C,80.0,55.0,21.7,3.8,7.5,0.512,...,0.0,0.0,0.0,33.0,49.0,0.402,22.0,101.9,105.0,-2.81
12734,Nikola Jokić,24.0,Denver Nuggets,C,73.0,73.0,32.0,7.7,14.7,0.528,...,0.0,0.0,0.0,46.0,27.0,0.630,0.0,111.3,109.2,2.35
13145,Nikola Jokić,23.0,Denver Nuggets,C,80.0,80.0,31.3,7.7,15.1,0.511,...,0.0,0.0,0.0,54.0,28.0,0.659,0.0,110.7,106.7,4.19
15472,Nikola Jokić,22.0,Denver Nuggets,C,75.0,73.0,32.6,6.7,13.5,0.499,...,0.0,0.0,0.0,46.0,36.0,0.561,3.0,110.0,108.5,1.57

In [162]:
stats.to_csv('player_mvp_stats.csv', index=False)

In [87]:
new_stats = pd.read_csv('player_mvp_stats.csv')
new_stats.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Won,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,27.0,Los Angeles Lakers,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,0,0,0,58.0,24.0,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,29.0,Los Angeles Lakers,SG,82.0,82.0,32.1,6.1,12.8,0.477,...,0,0,0,58.0,24.0,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,22.0,Los Angeles Lakers,PF,52.0,0.0,7.3,1.1,2.4,0.455,...,0,0,0,58.0,24.0,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,25.0,Los Angeles Lakers,PF,26.0,0.0,4.2,0.7,1.9,0.340,...,0,0,0,58.0,24.0,0.707,5.0,106.3,99.6,6.73
4,James Worthy,29.0,Los Angeles Lakers,SF,78.0,74.0,38.6,9.2,18.7,0.492,...,0,0,0,58.0,24.0,0.707,5.0,106.3,99.6,6.73

In [84]:
stats['Team'].unique()

array(['Los Angeles Lakers', 'Phoenix Suns', 'Dallas Mavericks',
       'Miami Heat', 'Cleveland Cavaliers', 'Washington Bullets',
       'Milwaukee Bucks', 'Chicago Bulls', 'Golden State Warriors',
       'Indiana Pacers', 'Washington Wizards', 'Minnesota Timberwolves',
       'Boston Celtics', 'Atlanta Hawks', 'Houston Rockets',
       'Orlando Magic', 'Denver Nuggets', 'New Orleans Hornets',
       'Toronto Raptors', 'Charlotte Hornets', 'Philadelphia 76ers',
       'Portland Trail Blazers', 'Oklahoma City Thunder', 'Utah Jazz',
       'Seattle SuperSonics', 'New Jersey Nets', 'Los Angeles Clippers',
       'Charlotte Bobcats', 'Sacramento Kings', 'New York Knicks',
       'New Orleans Pelicans', 'Brooklyn Nets', 'Detroit Pistons',
       'San Antonio Spurs', 'Memphis Grizzlies', 'Vancouver Grizzlies',
       'New Orleans/Oklahoma City Hornets', nan], dtype=object)

In [85]:
for category in stats.columns:
    unique_values = stats[category].unique()
    
    if np.issubdtype(unique_values.dtype, np.number):
        stats[category] = unique_values[~np.isnan(unique_values)]
    else:
        stats[category] = unique_values[pd.notna(unique_values)]

stats['Age'].unique()

ValueError: Length of values (2931) does not match length of index (14035)

In [88]:
new_stats[new_stats.isnull().any(axis=1)]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Won,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,27.0,Los Angeles Lakers,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,0,0,0,58.0,24.0,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,29.0,Los Angeles Lakers,SG,82.0,82.0,32.1,6.1,12.8,0.477,...,0,0,0,58.0,24.0,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,22.0,Los Angeles Lakers,PF,52.0,0.0,7.3,1.1,2.4,0.455,...,0,0,0,58.0,24.0,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,25.0,Los Angeles Lakers,PF,26.0,0.0,4.2,0.7,1.9,0.340,...,0,0,0,58.0,24.0,0.707,5.0,106.3,99.6,6.73
5,Larry Drew,32.0,Los Angeles Lakers,PG,48.0,2.0,10.3,1.1,2.6,0.432,...,0,0,0,58.0,24.0,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14030,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14031,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14032,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.474,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14033,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14034,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN